# Global repository owners
* @rohith-kanna-jr-2006

# Frontend Web Application (Rohith)
/web/ @rohith-kanna-jr-2006

# Backend and Database API (Ragul)
/backend/ @rohith-kanna-jr-2006

# CI/CD Workflows
/.github/ @rohith-kanna-jr-2006
